.spacer {
  flex: 1 1 auto;
}

#container {
  display: grid;
  column-gap: 5px;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: 1fr;
}

#tables {
  grid-column: 1;
  border: 1px solid red;
}

#requeteur {
  grid-column: 2;
  border: 1px solid green;
}
