#container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(35px, auto);
  grid-template-areas:
    'toolbar1 toolbar1 toolbar1 toolbar1 toolbar1 toolbar1 toolbar1 toolbar1'
    'router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet'
    'router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet router-outlet';

  margin: 0 auto;
}

#toolbar {
  grid-area: toolbar1;
}

#router-outlet {
  grid-area: router-outlet;
  padding-left: 10px;
  /* border: 1px dotted darkblue;
  background-color: azure; */
  //max-height: 91vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
  /* border: 1px solid deepskyblue; */
}
