<!--The content below is only a placeholder and can be replaced.-->
<div id="container">

  <div id="toolbar">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Commit v5</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div id="router-outlet">
    <router-outlet></router-outlet>
  </div>

  <aside id="menu-btn">
    <button class="btn" routerLink="/" mat-raised-button color="primary">Home</button>
    <button class="btn" routerLink="/fichier" mat-raised-button color="primary">Fichier</button>
    <button class="btn" routerLink="/recherche" mat-raised-button color="primary">Recherche</button>
    <button class="btn" routerLink="/apropos" mat-raised-button color="primary">A Propos</button>

  </aside>
</div>
