#menu-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);

}

.btn {
  padding: 5px;
  margin: 5px;

  &:hover {
    background-color: blue;
  }
}

.spacer {
  flex: 1 1 auto;
}
