#menu-btn {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);

}

.btn {
  padding: 5px;
  margin: 5px;

  &:hover {
    background-color: blue;
  }
}

.spacer {
  flex: 1 1 auto;
}

.appliTitle {
  margin-left: 10px;
}

.groupBtn {
  margin-right: 30px;
  background-color: rgb(86, 84, 92);
}

.badgeUp {
  position: absolute;
  top: -8px;
  left: 80%;
  font-size: 12px;
  line-height: 13px;
  border-radius: 50%;
  width: 23px;
  height: 13px;
  background-color: #204917;
  border: 4px solid #204917;
  color: #ffffff;
  text-align: center;
}

.badgeDown {
  position: absolute;
  top: 60%;
  left: 80%;
  font-size: 12px;
  line-height: 13px;
  border-radius: 50%;
  width: 23px;
  height: 13px;
  background-color: #ff0000;
  border: 4px solid #ff0000;
  color: #ffffff;
  text-align: center;
}
